<!DOCTYPE html>
<html>
<head>
    <title>Rent App</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Rent Increase Generator</h1>
    <form id="upload-form">
        <input type="file" id="file" name="file" required>
        <input type="number" id="new-rent" placeholder="New rent" required>
        <input type="date" id="application-date" required>
        <button type="submit">Generate Rent Increase</button>
    </form>
    <div id="message"></div>
    <script src="{{ preload_js }}"></script>
</body>
</html>
